--- 
tumblog_type: regular
title: saimonmoore.net now runs multiple globalized sites
author: Saimon Moore
filter: haml
created_at: 2007-05-28 13:56:00 +02:00
layout: tumblog/post
---
%p
  I recently upgraded my
  %a{ :href => "http://webtypes.com/2007/3/18/globalizing-mephisto" }
    mephisto_i18n plugin
  to add complete support for multiple sites.
%p
  In the process, I converted the mephisto instance running http://saimonmoore.net into a multisite instance. Currently, the other
  %em
    instance
  is our companie’s site
  %a{ :href => "http://webtypes.com" }
    webtypes.com
  which I ported over from
  %a{ :href => "http://groups.google.com/group/MephistoBlog/browse_thread/thread/5cbe5557c2aacf3d" }
    textpattern
  \.
%p
  You can read more about how I did it in the
  %a{ :href => "http://webtypes.com/2007/5/15/globalizing-mephisto-part-3" }
    third installment
  of my globalizing mephisto series.
%p
  Other improvements to the site have been:
%ul
  %li
    Added better spam protection via Sven’s
    %a{ :href => "http://www.artweb-design.de/2007/5/8/report-30-days-with-no-blog-spam-on-mephisto" }
      article
  %li
    Added an email-based
    %a{ :href => "/contact" }
      contact form
    so I’ll hopefully not miss any feedback this time.
