--- 
tumblog_type: regular
entry_id: 879
title: DoTime on rubyforge
author: Saimon Moore
filter: erb
created_at: 2006-12-24 11:56:00 +01:00
layout: tumblog/post
---
<p>I&#8217;ve just released <a href="http://www.saimonmoore.net/2006/11/15/dotime">DoTime</a>  on <a href="http://rubyforge.org/projects/dotime/">rubyforge</a></p>


	<p>The gem has already propagated so you can now just do:</p>


<pre><code>
sudo gem install dotime -y
</code></pre>

	<p>to get the latest release directly from rubyforge.</p>


	<p>For changes in this release see this <a href="http://rubyforge.org/forum/forum.php?forum_id=11077">post</a></p>


	<p>Thanks to <a href="http://seattlerb.rubyforge.org/hoe">hoe</a> the process was completely painless.</p>
