--- 
tumblog_type: regular
title: "4"
author: Saimon Moore
filter: erb
created_at: 2005-12-16 12:38:00 +01:00
layout: tumblog/post
---
<p><span style=font-weight: bold; font-size: 3em;>4</span> &#8211; The number of children my friend Jimmy&#8217;s wife gave birth to on Tuesday morning.</p><p></p>
