--- 
tumblog_type: regular
title: My google mail/reader features  for the new year
author: Saimon Moore
filter: haml
created_at: 2005-12-31 11:39:00 +01:00
layout: tumblog/post
---
%p
  %strong
    Gmail
%ul
  %li
    Option to apply multiple labels to a selection of emails
  %li
    Modify ‘Apply Label’ action to allow application of multiple labels at once (Also for filter action)
  %li
    Add an ‘Apply Label and Archive’ button.
  %li
    Add an out-of-office reply filter action. So I can send out a dedicated email response per contact when I’m unavailable.
%p
  %strong
    Google Reader
%ul
  %li
    Make the ‘blogThis’ option a user-definable url
  %li
    If I’m not viewing a post how do I view posts by labels?
%p
