--- 
tumblog_type: regular
title: Dotime doing well
author: Saimon Moore
filter: erb
created_at: 2007-01-19 14:06:00 +01:00
layout: tumblog/post
---
<p>Out of curiosity to see how many other people were interested in DoTime, I took a look the <a href="http://gems.rubyforge.org/stats.html">gem stats</a></p>


	<p>I was surprised to see that dotime has been downloaded a total of <strong>50</strong> times.</p>


	<p>That makes me happy. I&#8217;m going to fix some more bugs soon and make another alpha release. I also have to check wether basecamp has updated their api much lately and see if I can optimize it a bit more.</p>
