--- 
tumblog_type: regular
entry_id: 1878
title: Talking about Globalize in Ostrava
author: Saimon Moore
filter: erb
created_at: 2007-06-20 19:07:00 +02:00
layout: tumblog/post
---
<p>I&#8217;m off tomorrow to Prague in the Czech republic and will then make my way to <a href="http://ostrava.rails.cz/en/about">Ostrava</a> where I&#8217;ll be giving a talk about Globalize and it&#8217;s future.</p>


	<p>I&#8217;ll be posting the slides here on my blog once I&#8217;m back.</p>


	<p>Say hello if you&#8217;re there :)</p>
