--- 
tumblog_type: regular
title: Ripe for a ruby port
author: Saimon Moore
filter: erb
created_at: 2006-03-07 08:33:00 +01:00
layout: tumblog/post
---
<p><a href=http://furius.ca/nabu/doc/nabu-extractor.html>Nabu</a></p><p></p>
