--- 
tumblog_type: regular
entry_id: 1925
title: My MacBook has just been fixed (3 weeks later)
author: Saimon Moore
filter: erb
created_at: 2007-11-16 09:41:00 +01:00
layout: tumblog/post
---
<p>fearoffish: This is for you :)</p>


	<p>Just a quick note to say that Apple has replaced my faulty HD, quicker than they said they would. I was expecting it in a week but it&#8217;s a week early. Suffice to say that doesn&#8217;t exone the fact that it took them 3 weeks to do so but I have to give credit where credit&#8217;s due. :)</p>
