---
extension: html
filter: haml
---
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title=@page.title
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    %link{ :href => "/css/coderay.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/css/site.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js", :type => "text/javascript"}
    %script{ :src => "/javascripts/lib/mootools-1.2.4.4-more.js", :type => "text/javascript"}
    %script{ :src => "/javascripts/lib/feeds.js", :type => "text/javascript"}
    :javascript
      window.addEvent('domready', function() {
        display_tweets(5);
        display_commits(5, [{uri: 'http://github.com/api/v2/json/commits/list/saimonmoore/nodered/master', repo: 'nodered'}]);
        display_links(10, "http://www.instapaper.com/rss/578539/CLZC9n8HO9v6JLYPV4tjcIb0CU");
      });
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %meta{ :content => "en-gb", "http-equiv" => "content-language" }
    %meta{ :content => "false", "http-equiv" => "imagetoolbar" }
    %meta{ :name => "author", :content => "Saimon Moore" }
    %meta{ :name => "copyright", :content => "Copyright (c) Saimon Moore 2008 - 2009" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }
    %meta{ :name => "last-modified", :content => "Sat, 01 Jan 2007 00:00:00 GMT" }
    %meta{ :name => "mssmarttagspreventparsing", :content => "true" }
    %meta{ :name => "robots", :content => "index, follow, noarchive" }
    %meta{ :name => "revisit-after", :content => "7 days" }
  %body
    #header
      %h1
        Saimon Moore
      %p=@page.subtitle
      %ul
        %li
          %a{ :href => "/" }
            Homepage
        %li
          %a{ :href => "/tumblog" }
            My Blog
        %li
          %a{ :href => "/portfolio.html" }
            Portfolio
        %li
          %a{ :href => "/about.html" }
            About Me
        %li
          %a{ :href => "/contact-me.html" }
            Contact Me
    #content
      #sidebar
        %h1
          Search
        = render(:partial => 'google_search')
        %h1
          Latest News

        #twitter
          %h3
            Twitter
        #github
          %h3
            Github
        %h1
          Links
        #instapaper

        %ul{:id => 'links'}

      #main
        = @content
    #footer
      %p
        Copyright &copy;
        %a{ :href => "#" }
          Saimon Moore
        | Valid
        %a{ :href => "http://jigsaw.w3.org/css-validator/" }
          CSS
        \&amp;
        %a{ :href => "http://validator.w3.org/" }
          XHTML
