---
title: Saimon Moore - Hire me
subtitle: Hire me
created_at:   2009-03-11 14:46:48.370699 +01:00
filter:
  - haml
---
%h1
  Hire Me

%br/
%br/
%h3
  %span
    Seven reasons why you should hire me...
%br/
%br/
%ol
  %li
    %a{ :name => "agile_methodology" }
      %b
        Agile
    \- I believe in and apply agile methodologies which means my highest priority
    is to satisfy the customer with early and continuous release cycles of working software.
    The client is continuously involved in the project and adaptation to changes is embraced
    as an integral part of the software even late in development.
    (See the
    %a{ :href => "http://agilemanifesto.org/principles.html" }
      Agile manifesto
    for a much better description
    of what it means for your project to be under agile development.)
  %li
    %b
      KISS
    \- I believe software should be so simple and effective that anyone can intuitively use the software
    without having to read chapter 3,4 and 5 of the user manual before even getting started.
    (i.e. the
    %a{ :href => "http://en.wikipedia.org/wiki/KISS_Principle" }
      KISS
    principle)
  %li
    %b
      TDD
    \- For my own peace of mind I employ test-driven development
    %sup
      %a{ :href => "#Note1" }
        i
    (
    %a{ :href => "http://c2.com/cgi/wiki?TestDrivenDevelopment" }
      %acronym{ :name => "Test Driven Development" }
        TDD
    ), which also means that for any
    release the software is protected by a test harness that guarantees it is functioning
    according to requirements. This also provides immediate feedback on the code.
  %li
    %b
      OS
    \- I strongly believe in the
    %a{ :href => "http://www.opensource.org/" }
      open source
    movement.
    I use open-source projects heavily in my work which means a lower end-cost for the client.
    I'm also involved in a number of open source projects myself.
    Furthermore, the open source world is my project team and as such my software benefits from
    the experience and knowledge of hundreds of developers world-wide.
  %li
    %b
      Experience
    \- I've quite a few years of software development under my belt (&gt; 5). This has been gained
    both from serious commercial projects and my own personal open-source projects.
  %li
    %b
      Scientific background
    \- I've been hacking code since the 1980's, professionally since 2005
    but my main academic training has been scientific. This means that I
    apply
    %a{ :href => "http://en.wikipedia.org/wiki/Scientific_method" }
      scientific
      methodology
    to my
    %acronym
      IT
    work which means that
    my software benefits from a critical mind and reproducible results.
  %li
    %b
      Adjustable rates
    I not only adjust my rates according to the predicted time required
    to complete the project but also to the skills I'll need to employ which means
    the client pays exactly what he/she asked for. Nothing more nothing less.
%br
For further details, you can read my
%a{ :href => "/assets/2006/10/12/cv.html", :title => "Resum\303\251" }
  Curriculum Vitae
available in
%acronym{ :name => "Hypertext Markup Language" }
  HTML
for on-line
reading or as a
%acronym{ :name => "Portable Document Format" }
  PDF
or
Microsoft Word document for a printable copy.
%br/
%br/
%br/
%hr
.contentFooter
  %ol.sup
    %li
      %a{ :name => "Note1" }
      This of course means that the software is only as good as it's tests but point
      %a{ :href => "#agile_methodology" }
        1
      means that the customer is involved often with plenty of communication and so misconceptions should be reduced to a minimum.
  %br/
  Contact me:
  %b
    saimonmoore AT gmail DOT com
  |
  %a.footerLink{ :href => "#" }
    top
