--- 
tumblog_type: regular
title: rake autocompletion
author: Saimon Moore
filter: haml
created_at: 2006-04-25 15:55:00 +02:00
layout: tumblog/post
---
%p
  Posted
  %a{ :href => "http://www.webtypes.com/2006/03/31/rake-completion-script-that-handles-namespaces" }
    here
