--- 
tumblog_type: regular
entry_id: 1329
title: I'm a globalize committer
author: Saimon Moore
filter: erb
created_at: 2007-03-16 11:20:00 +01:00
layout: tumblog/post
---
<p>Thanks to the work I did on the <a href="http://saimonmoore.net/2006/12/1/alternative-implementation-of-globalize-model-translations">alternative storage mechanism for globalize</a> , <a href="http://www.shnoo.gr">Josh Harvey</a> invited me on to the <a href="http://www.globalize-rails.org/globalize/">Globalize</a> team.</p>


	<p>I&#8217;m happy to announce that the Globalize team have recently released Globalize For-1.2 which provides full compatibility with Rails 1.2.x and introduces a number of new features some of which I wrote.</p>


	<p>In the following series of articles I&#8217;m going to be writing about the work I&#8217;ve done on Globalize:</p>


	<ul>
	<li>My first task was to <a href="http://saimonmoore.net/2007/3/17/globalize-internal-storage-mechanism">integrate my alternative storage plugin into globalize itself</a>
(available in the <a href="http://svn.globalize-rails.org/svn/globalize/branches/for-1.2">for-1.2 branch</a> )</li>
	</ul>


	<ul>
	<li>I then kept myself busy by writing a few
<a href="http://saimonmoore.net/2007/3/17/tools-for-migrating-to-internal-storage">tools to help the migration over to this new storage mechanism</a>
(partly available in the <a href="http://svn.globalize-rails.org/svn/globalize/branches/for-1.2">for-1.2 branch</a> )</li>
	</ul>


	<ul>
	<li>I then introduced the concept of
<a href="http://saimonmoore.net/2007/3/18/namespaced-view-translations">namespaced view translations</a>
(available in the <a href="http://svn.globalize-rails.org/svn/globalize/branches/for-1.2">for-1.2 branch</a> )</li>
	</ul>


	<ul>
	<li>Recently I&#8217;ve added
<a href="#" onclick="alert('Coming soon...'); return false;">a class that encapsulates the idea of an application&#8217;s supported locales</a> to globalize <a href="http://svn.globalize-rails.org/svn/globalize/trunk">trunk</a>.</li>
	</ul>


	<p>From this work and work done while developing <a href="http://webtypes.com">our</a> latest <a href="http://amicsmuseuprecolombi.org">application</a> I&#8217;ve also recently released a
<a href="#" onclick="alert('Coming soon...'); return false;">plugin that Globalizes Mephisto (http://mephistoblog.com)</a></p>


	<p>P.S. (Shameless plug) If anyone out there would like help <em>globalizing</em> their site/application then <a href="http://webtypes.com">we&#8217;re available</a> for <a href="http://saimonmoore.net/assets/2006/10/12/cv.html">hire</a> right now</p>
