--- 
tumblog_type: regular
title: I'm a globalize committer
author: Saimon Moore
filter: haml
created_at: 2007-03-16 11:20:00 +01:00
layout: tumblog/post
---
%p
  Thanks to the work I did on the
  %a{ :href => "http://saimonmoore.net/2006/12/1/alternative-implementation-of-globalize-model-translations" }
    alternative storage mechanism for globalize
  ,
  %a{ :href => "http://www.shnoo.gr" }
    Josh Harvey
  invited me on to the
  %a{ :href => "http://www.globalize-rails.org/globalize/" }
    Globalize
  team.
%p
  I’m happy to announce that the Globalize team have recently released Globalize For-1.2 which provides full compatibility with Rails 1.2.x and introduces a number of new features some of which I wrote.
%p
  In the following series of articles I’m going to be writing about the work I’ve done on Globalize:
%ul
  %li
    My first task was to
    %a{ :href => "http://saimonmoore.net/2007/3/17/globalize-internal-storage-mechanism" }
      integrate my alternative storage plugin into globalize itself
    (available in the
    %a{ :href => "http://svn.globalize-rails.org/svn/globalize/branches/for-1.2" }
      for-1.2 branch
    )
%ul
  %li
    I then kept myself busy by writing a few
    %a{ :href => "http://saimonmoore.net/2007/3/17/tools-for-migrating-to-internal-storage" }
      tools to help the migration over to this new storage mechanism
    (partly available in the
    %a{ :href => "http://svn.globalize-rails.org/svn/globalize/branches/for-1.2" }
      for-1.2 branch
    )
%ul
  %li
    I then introduced the concept of
    %a{ :href => "http://saimonmoore.net/2007/3/18/namespaced-view-translations" }
      namespaced view translations
    (available in the
    %a{ :href => "http://svn.globalize-rails.org/svn/globalize/branches/for-1.2" }
      for-1.2 branch
    )
%ul
  %li
    Recently I’ve added
    %a{ :href => "#", :onclick => "alert('Coming soon...'); return false;" }
      a class that encapsulates the idea of an application’s supported locales
    to globalize
    %a{ :href => "http://svn.globalize-rails.org/svn/globalize/trunk" }
      trunk
    \.
%p
  From this work and work done while developing
  %a{ :href => "http://webtypes.com" }
    our
  latest
  %a{ :href => "http://amicsmuseuprecolombi.org" }
    application
  I’ve also recently released a
  %a{ :href => "#", :onclick => "alert('Coming soon...'); return false;" }
    plugin that Globalizes Mephisto (http://mephistoblog.com)
%p
  P.S. (Shameless plug) If anyone out there would like help
  %em
    globalizing
  their site/application then
  %a{ :href => "http://webtypes.com" }
    we’re available
  for
  %a{ :href => "http://saimonmoore.net/assets/2006/10/12/cv.html" }
    hire
  right now
