--- 
tumblog_type: regular
title: Introducing Capistrano Server Extensions
author: Saimon Moore
filter: erb
created_at: 2007-03-16 09:50:00 +01:00
layout: tumblog/post
---
<p>I&#8217;ve just released a cool tool :) lamely called <a href="http://rubyforge.org/projects/capserverext">Capistrano Server Extensions</a>. It&#8217;s a <a href="http://manuals.rubyonrails.com/read/book/17">Capistrano</a>  extension based on the <a href="http://deprec.rubyforge.org/">deprec</a> gem and allows you to very easily setup full rails stacks on Ubuntu servers using any combination of <a href="http://sysoev.ru/en">Nginx</a> / <a href="http://httpd.apache.org">Apache</a> / <a href="http://www.mysql.com">MySQL</a> or <a href="http://www.postgresql.org">PostgreSQL</a></p>


	<p>e.g.</p>


<pre>
<code>
  $ cap prepare_ssh
  $ cap prepare_host
</code>
</pre>

	<p>That&#8217;s it (more or less :)</p>


	<p>For the full article read <a href="http://www.webtypes.com/2007/03/15/announcing-capistrano-server-extensions">Announcing Capistrano Server Extensions</a>.</p>


	<p>I should take this opportunity to also announce that along with super fantastic <a href="http://www.webtypes.com/">Thomas Maas</a> I&#8217;m a <strong><a href="http://webtypes.com">Web Type</a></strong> too. So I&#8217;ll be writing articles on both these sites.</p>
