--- 
tumblog_type: regular
title: saimonmoore.net is now Globalized!
author: Saimon Moore
filter: haml
created_at: 2007-03-21 17:59:00 +01:00
layout: tumblog/post
---
%p
  Back up again…
%p
  The process of rebuilding my
  %a{ :href => "https://manage.slicehost.com/customers/signup?referrer=10144130" }
    slice
  was relatively painless. It took me all of four hours to go from my original mephisto installation, to a completely new
  %a{ :href => "https://manage.slicehost.com/customers/signup?referrer=10144130" }
    slice
  with a
  %a{ :href => "http://www.webtypes.com/2007/03/18/globalizing-mephisto" }
    globalized
  mephisto trunk, restored subversion repository.
%p
  Twice! As I also host a veterinary clinic
  %a{ :href => "http://ktiniatreio.gr" }
    site
  for a friend.
