--- 
tumblog_type: regular
title: saimonmoore.net down for maintenance
author: Saimon Moore
filter: erb
created_at: 2007-03-18 13:16:00 +01:00
layout: tumblog/post
---
<p>To all my  loyal readers (all 6 of you :).</p>


	<p>I&#8217;m taking the site down temporarily as I want to rebuild it using <a href="http://www.webtypes.com/2007/03/15/announcing-capistrano-server-extensions">Capistrano Server Extensions</a> and the latest <a href="http://mephistoblog.com">Mephisto</a> trunk with my <a href="svn://rubyforge.org/var/svn/sidirodromos/plugins/mephisto_i18n/trunk">Mephisto I18n plugin</a> (An article about this plugin will be coming <a href="#" onclick="alert('Coming soon...'); return false;">forthwith</a> ). To eat my own dog food as they say.</p>


	<p>Also I&#8217;m not very happy about the site&#8217;s styling so I&#8217;m going to try and change that soon as well.</p>


	<p>Back soon&#8230;</p>
