--- 
tumblog_type: regular
title: clients
author: Saimon Moore
filter: haml
created_at: 2006-10-13 15:23:00 +02:00
layout: tumblog/post
---
%p
  These are examples of sites in which I have either been the lead developer or actively involved in it’s development. For further details see my
  %a{ :href => "http://local.saimonmoore.net/assets/2006/10/12/cv.html" }
    CV
  \.
%ul
  %li
    %a{ :href => "http://www.amicsmuseuprecolombi.org" }
      Amics Museu Precolombi
    – Site for Barcelona’s Museum of Pre-Columbian Art.
    %ul
      %li
        Lead developer & architect
      %li
        A heavily customized
        %a{ :href => "http://mephistoblog.com" }
          Mephisto
        application which I
        %a{ :href => "http://www.webtypes.com/2007/03/18/globalizing-mephisto" }
          globalized
        and is available in 4 languages. (
        %a{ :href => "http://www.rubyonrails.org" }
          RubyOnRails
        )
      %li
        Additional custom backend
        %span.caps
          CMS
        modules
      %li
        Additional translation modules
%ul
  %li
    %a{ :href => "http://www.ocium.com" }
      Ocium.com
    – Spanish-based e-commerce site specialising in Jazz music.
    %ul
      %li
        Lead developer & architect
      %li
        Written from scratch in
        %a{ :href => "http://www.ruby-lang.org" }
          Ruby
        using
        %a{ :href => "http://www.rubyonrails.org" }
          RubyOnRails
      %li
        Backoffice management modules
%ul
  %li
    %a{ :href => "http://www.condisline.com" }
      CondisLine.com
    – Supermarket chain’s online shop with home delivery to over 50,000 customers in Spain.
    %ul
      %li
        Lead Developer
      %li
        Written in
        %a{ :href => "http://java.sun.com" }
          Java
        using the “ATG Dynamo 7.0 E-Commerce platform”
      %li
        Backoffice management modules
%ul
  %li
    %a{ :href => "http://www.dabacus.com" }
      ModernaEscuelaMediterranea
    – Logistics management tool for company selling children’s portraits.
    %ul
      %li
        Project Manager/Lead Developer
      %li
        Written in Java/JSP using custom web development platform
%ul
  %li
    %a{ :href => "http://www.phira.com" }
      Phira.com
    – Online catalog for automobile parts company
    %ul
      %li
        Developer
      %li
        Written in Java/JSP
%ul
  %li
    %a{ :href => "http://www.miprimerempleo.com" }
      MiPrimerEmpleo.com
    – Online job bank
    %ul
      %li
        Developer
      %li
        Written in Java/JSP
