--- 
tumblog_type: regular
title: Hire Me
author: Saimon Moore
filter: erb
created_at: 2006-10-12 15:59:00 +02:00
layout: tumblog/post
---
<h3><span>Seven reasons why you should hire me...</span></h3>
<ol id="hireMeList" class="contentList">
  <li><a name="agile_methodology"><b>Agile</b></a>
    - I believe in and apply agile methodologies which means my highest priority
    is to satisfy the customer with early and continuous release cycles of working software.
    The client is continuously involved in the project and adaptation to changes is embraced
    as an integral part of the software even late in development.
    (See the <a href="http://agilemanifesto.org/principles.html">Agile manifesto</a> for a much better description
    of what it means for your project to be under agile development.)
  </li>
  <li><b>KISS</b>
    - I believe software should be so simple and effective that anyone can intuitively use the software
    without having to read chapter 3,4 and 5 of the user manual before even getting started.
    (i.e. the <a href="http://en.wikipedia.org/wiki/KISS_Principle">KISS</a> principle)
  </li>
  <li><b>TDD</b>
    - For my own peace of mind I employ test-driven development<sup><a href="#Note1">i</a></sup> (<a href="http://c2.com/cgi/wiki?TestDrivenDevelopment"><acronym name="Test Driven Development">TDD</a>), which also means that for any
    release the software is protected by a test harness that guarantees it is functioning
    according to requirements. This also provides immediate feedback on the code.
  </li>
  <li><b>OS</b>
      - I strongly believe in the <a href="http://www.opensource.org/">open source</a> movement.
      I use open-source projects heavily in my work which means a lower end-cost for the client.
      I'm also involved in a number of open source projects myself.
      Furthermore, the open source world is my project team and as such my software benefits from
      the experience and knowledge of hundreds of developers world-wide.
  </li>
  <li><b>Experience</b>
      - I've quite a few years of software development under my belt (> 5). This has been gained
      both from serious commercial projects and my own personal open-source projects.
  </li>
  <li><b>Scientific background</b>
      - I've been hacking code since the 1980's, professionally since 2005
      but my main academic training has been scientific. This means that I
      apply <a href="http://en.wikipedia.org/wiki/Scientific_method">scientific
      methodology</a> to my <acronym>IT</acronym> work which means that
      my software benefits from a critical mind and reproducible results.
  </li>
  <li><b>Adjustable rates</b> I not only adjust my rates according to the predicted time required
  to complete the project but also to the skills I'll need to employ which means
  the client pays exactly what he/she asked for. Nothing more nothing less.
  </li>
</ol>
<br/>
  For further details, you can read my <a href="/assets/2006/10/12/cv.html" title="Resumé">Curriculum Vitae</a>
  available in <acronym name="Hypertext Markup Language">HTML</acronym> for on-line
  reading or as a <acronym name="Portable Document Format">PDF</acronym> or
  Microsoft Word document for a printable copy.
<hr/>
<div class="contentFooter">
<ol>
<li>
  <a name="Note1"></a>This of course means that the software is only as good as it's tests but point <a href="#agile_methodology">1</a>
  means that the customer is involved often with plenty of communication and so misconceptions should be reduced to a minimum.
</li>
</ol>

<a href="/contact_form" id="respond" class="footerLink">Contact me...</a> |
<a href="#" class="footerLink">top</a>
</div>
