--- 
tumblog_type: regular
title: Saimon
author: Saimon Moore
filter: haml
created_at: 2006-10-16 07:45:00 +02:00
layout: tumblog/post
---
%p
  Software developer with over 6 years solid
  %a{ :href => "/assets/2006/10/12/cv.html" }
    experience
  in open source web development.
%p
  I have experience in:
%ul
  %li
    Ruby
  %li
    RubyOnRails
  %li
    Javascript (Dom/Prototype/Scriptaculous…)
  %li
    Java
  %li
    Jsp
  %li
    Jhtml
  %li
    Relational Databases (Oracle, Postgresql, Mysql…)
  %li
    Unix Systems (Linux,
    %span.caps
      HPUX
    , Solaris)
%p
  More detail can be found in my
  %a{ :href => "/assets/2006/10/12/cv.html" }
    CV
  \.
%p
  If you find my profile may fit your project then
  %a{ :href => "/about/hire-me" }
    Hire me
  \.
