--- 
tumblog_type: regular
title: Saimon
author: Saimon Moore
filter: erb
created_at: 2006-10-16 07:45:00 +02:00
layout: tumblog/post
---
<p>Software developer with over 6 years solid <a href="/assets/2006/10/12/cv.html">experience</a> in open source web development.</p>


	<p>I have experience in:</p>


	<ul>
	<li>Ruby</li>
		<li>RubyOnRails</li>
		<li>Javascript (Dom/Prototype/Scriptaculous&#8230;)</li>
		<li>Java</li>
		<li>Jsp</li>
		<li>Jhtml</li>
		<li>Relational Databases (Oracle, Postgresql, Mysql&#8230;)</li>
		<li>Unix Systems (Linux, <span class="caps">HPUX</span>, Solaris)</li>
	</ul>


	<p>More detail can be found in my <a href="/assets/2006/10/12/cv.html">CV</a>.</p>


	<p>If you find my profile may fit your project then <a href="/about/hire-me">Hire me</a>.</p>
