--- 
tumblog_type: regular
entry_id: 59
title: 1st Production Release of Bligi
author: Saimon Moore
filter: erb
created_at: 2005-08-25 06:41:00 +02:00
layout: tumblog/post
---
<p>Woohoo&#8230; Finally, first public release of Bligi 0.0.1.</p>
<p>I&#8217;ve had great fun writing this app and am looking forward to writing up the rest.</p>
<p>Thanks to the guys at TextDrive for helping me out with the weaning issues, and thanks to the guys at codehaus for putting me on to ruby and the rails framework.  This has just been pure joy.  </p>
<p>I&#8217;m hoping to now have a two week release cycle and when I get to 0.1.0, I&#8217;ll release the code.</p>
