--- 
tumblog_type: regular
entry_id: 754
title: DoTime
author: Saimon Moore
filter: erb
created_at: 2006-11-15 18:23:00 +01:00
layout: tumblog/post
---
<p>I have a <a href="http://www.basecamphq.com/signup.php">Basic</a> Basecamp plan. This plan doesn&#8217;t include time tracking. I think time tracking is an indispensable part of any basecamp plan but there you go, that&#8217;s life.</p>


	<p>So what to do?</p>


	<p>I present you with <a href="http://www.saimonmoore.net/assets/2006/11/15/DoTime-0.0.2.gem">DoTime-0.0.2</a></p>


	<p>Install:</p>


<pre>
<code>
sudo gem install DoTime --include-dependencies
</code>
</pre>

	<p>Usage:</p>


<pre>
<code>
dotime -u {your_basecamp_login} -p {your_basecamp_password}
</code>
</pre>

	<p>Follow the online instructions&#8230;It&#8217;s quite easy&#8230;.</p>


	<p>I&#8217;m accepting feature requests and could do with some feedback. This could be slightly faster but it&#8217;s basically dependant on basecamp&#8217;s api so I&#8217;m not sure there&#8217;s much improvement in that respect.</p>


	<p>I&#8217;ve been using it for about a month now and am very happy with it.
Of course I&#8217;m hoping that this &#8216;tool&#8217; pushes <a href="http://www.37signals.com">37 Signals</a> into making time tracking available for all plans.</p>
