--- 
tumblog_type: regular
title: "01:02:29"
author: Saimon Moore
filter: erb
created_at: 2005-09-22 03:17:00 +02:00
layout: tumblog/post
---
<p>That&#8217;s how long it took me to run the 10 Km of the 2005 Cursa de la Merce.</p>       <p>Considering I hadn&#8217;t trained at all and the last time I went running was three years ago, you could say I was pleasantly chuffed with myself. ;)</p>       <p>Get the real results <a href=http://cursamerce.corre.cc/res2005_12.htm>here</a> .</p>       <p>Photos coming soon&#8230;.(Watch this space)</p><p></p>
