--- 
tumblog_type: regular
title: "01:02:29"
author: Saimon Moore
filter: haml
created_at: 2005-09-22 03:17:00 +02:00
layout: tumblog/post
---
%p
  That’s how long it took me to run the 10 Km of the 2005 Cursa de la Merce.
%p
  Considering I hadn’t trained at all and the last time I went running was three years ago, you could say I was pleasantly chuffed with myself. ;)
%p
  Get the real results
  %a{ :href => "http://cursamerce.corre.cc/res2005_12.htm" }
    here
  \.
%p
  Photos coming soon….(Watch this space)
%p
