--- 
tumblog_type: regular
title: Added tags_with_count to tagtools
author: Saimon Moore
filter: erb
created_at: 2005-09-28 05:25:00 +02:00
layout: tumblog/post
---
<p><a href=http://sporkmonger.com/>Bob</a> released <a href=http://rubyforge.org/projects/tagtools/>tagtools 0.0.3</a> not so long ago, and added a very helpful feature, TaggingHelpers.</p>       <p>This allows you to work with tags on a global scale, with all taggable objects.</p>       <p>I wanted to optimise the list of tags you see on the left-hand side of the site, so I added the tags_with_count() method to TaggingHelpers which performs a simple group by query and adds a &#8216;count&#8217; property to each tag.</p>       <p>You can find the patch <a href=http://rubyforge.org/tracker/index.php?func=detail&amp;aid=2531&amp;group_id=875&amp;atid=3459>here</a></p><p></p>
