--- 
tumblog_type: regular
title: Added previewing to bligi in under 1/2 hr
author: Saimon Moore
filter: haml
created_at: 2005-09-01 12:10:00 +02:00
layout: tumblog/post
---
%p
  This morning I got up and added an ajaxed preview feature to both posting and commenting.
%p
  That’s just great…
%p
  I’m sure it should have taken me only about 5 minutes but it was a bit too early and I was away from rails coding for the holidays so I’m a bit rusty.
%p
  But I’m very impressed.
%p
  Still not exactly how I’d like it for commenting but I’ll think of something… ;)
%p
