--- 
tumblog_type: regular
title: Being robbed...
author: Saimon Moore
filter: erb
created_at: 2005-09-09 08:32:00 +02:00
layout: tumblog/post
---
<p>Someone robbed my <a href=http://www.dahon.com/boardwalkd3.htm>folding bicycle</a> last night. It was completely my fault. I had locked it to the metro entrance at around 20:00 and went to have dinner with Ana. By the time I got back, it had disappeared without a trace. Not even the chain was there.</p>       <p>It wasn&#8217;t very wise of me locking it there but I&#8217;d been hauling it around all day and as we weren&#8217;t sure where we were going to end up for dinner, I decided to leave it by the metro.</p>       <p>On the bright side, I&#8217;ve still got the seat. (Anyone looking to by a comfy bicycle seat? ;)</p>       <p>Note to the crook: You bastard. ;)</p><p></p>
