--- 
tumblog_type: regular
title: Release nightmare
author: Saimon Moore
filter: haml
created_at: 2005-09-28 05:16:00 +02:00
layout: tumblog/post
---
%p
  This weekend I did a 32 hour non-stop stint releasing the latest version of
  %a{ :href => "http://www.condisline.com/" }
    CondisLine.com
  \.
%p
  This was a massive change as we were changing hardware (2 db servers, 2 web servers, 2 app servers, 2 firewall/proxies) &amp; software (complete revamp of the site under
  %span.caps
    %span.caps
      ATG 7
  \.1), communications infrastructure &amp; security, data model migration (If you’ve ever seen the
  %span.caps
    %span.caps
      ATG DCS
  data model you know the kind of hell it was, I had to migrate from our proprietary 5.1.1 version to our proprietary 7.1 version).
%p
  At around 4-7 in the morning, I wasn’t particularly lucid but second wind then kicked in and we opened the tap at around 13:00 hrs on the Sunday.
%p
  We’re still cleaning up some stuff but considering, I’d say things went really well.
%p
