--- 
tumblog_type: regular
title: Baby list
author: Saimon Moore
filter: erb
created_at: 2007-12-10 08:03:00 +01:00
layout: tumblog/post
---
<p>These are some of the things we (need/think we need/would like to have) for when Sofia makes her grand entrance:</p>


	<ul>
	<li>Adjustable Chair &#8211; <a href="http://www.amazon.com/Stokke-Natural-Tripp-Trapp-Chair/dp/B00009IMAY">Stokke Tripp Trapp</a></li>
		<li>Baby Walki Talkies</li>
		<li>Baby dresser (<a href="http://www.mothercare.com/gp/product/B000TEPO1M/sr=1-12/qid=1197150538/ref=sr_1_12?ie=UTF8&#38;m=A2LBKNDJ2KZUGQ&#38;n=44536031&#38;mcb=core">something like this but foldable</a>)</li>
		<li>bouncing cradle (<a href="http://www.mothercare.com/gp/product/B000N1Z8ZI/sr=1-60/qid=1197236430/ref=sr_1_60?ie=UTF8&#38;m=A2LBKNDJ2KZUGQ&#38;n=54227031&#38;mcb=core">something like this</a>)</li>
		<li>play mat (<a href="http://www.mothercare.com/gp/product/B000O6ZQ9K/sr=1-3/qid=1197199408/ref=sr_1_3?ie=UTF8&#38;m=A2LBKNDJ2KZUGQ&#38;n=44389031&#38;mcb=core">this looks nice</a>)</li>
		<li>baby carriers (<a href="http://www.mothercare.com/gp/node/n/44458031?ie=UTF8&#38;mcb=core">front</a> / <a href="http://www.mothercare.com/gp/node/n/44459031?ie=UTF8&#38;mcb=core">back (for mountain excursions) so not exactly these shown but more or less</a>)</li>
		<li>Bugaboo baby nest (<a href="http://www.mothercare.com/gp/product/B000X1KUZQ/sr=1-35/qid=1197199546/ref=sr_1_35?ie=UTF8&#38;m=A2LBKNDJ2KZUGQ&#38;n=44339031&#38;mcb=core">in red</a>)</li>
		<li>bugaboo baby footmuff (<a href="http://www.mothercare.com/gp/product/B000IEWVLY/sr=1-6/qid=1197199694/ref=sr_1_6?ie=UTF8&#38;mcb=core">in red</a>)</li>
		<li>bugaboo parasol (<a href="http://www.mothercare.com/gp/product/B000IEYP5E/sr=1-15/qid=1197199769/ref=sr_1_15?ie=UTF8&#38;m=A2LBKNDJ2KZUGQ&#38;n=42764041&#38;mcb=core">in red</a>)</li>
		<li>Not sure what else for now</li>
	</ul>


	<p>If you want to buy one of these, then please choose which one you&#8217;d like to buy and let us know so we can remove it from the list so as to avoid others buying the same item.</p>


	<p>Saimon and Maria</p>
