--- 
tumblog_type: regular
title: Git plugin for CruiseControlRB
author: Saimon Moore
filter: erb
created_at: 2007-12-19 13:24:00 +01:00
layout: tumblog/post
---
<p>A couple of thursday&#8217;s ago I went to the first ever <span class="caps">BCN</span> ruby/rails group meeting and though short had some interesting chats. I was also trying to convince people how great git was but I complained that <a href="http://cruisecontrolrb.thoughtworks.com/">cruisecontrolrb</a> was lacking support for git.</p>


I resolved to fix that. After some googling I couldn&#8217;t find anything already out there, so I wrote a plugin myself. You can grab it via <table class="CodeRay"><tr>
  <td class="line_numbers" title="click to toggle" onclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre><tt>
</tt></pre></td>
  <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }">git clone git://saimonmoore.net/cruisecontrolrb.git</pre></td>
</tr></table>


	<p>You&#8217;ll notice the whole cruisecontrol-1.2.1 app is bundled in that repo. If you want to use the plugin for an existing cruisecontrol setup then just grab the plugin from vendor/plugins and apply this <a href="http://jira.public.thoughtworks.org/browse/CCRB-167">patch</a> (this may make itself into the next ccrb release so check)</p>


	<p>To add a git-based project:</p>


<table class="CodeRay"><tr>
  <td class="line_numbers" title="click to toggle" onclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre><tt>
</tt></pre></td>
  <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }">./cruise add cruisecontrolrb --scm git --url git://saimonmoore.net/cruisecontrolrb.git</pre></td>
</tr></table>


	<p>then just start the server:</p>


<table class="CodeRay"><tr>
  <td class="line_numbers" title="click to toggle" onclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre><tt>
</tt></pre></td>
  <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }">./cruise start</pre></td>
</tr></table>
