--- 
tumblog_type: regular
title: Git plugin for CruiseControlRB
author: Saimon Moore
filter: haml
created_at: 2007-12-19 13:24:00 +01:00
layout: tumblog/post
---
%p
  A couple of thursday’s ago I went to the first ever
  %span.caps
    BCN
  ruby/rails group meeting and though short had some interesting chats. I was also trying to convince people how great git was but I complained that
  %a{ :href => "http://cruisecontrolrb.thoughtworks.com/" }
    cruisecontrolrb
  was lacking support for git.
I resolved to fix that. After some googling I couldn’t find anything already out there, so I wrote a plugin myself. You can grab it via
%table.CodeRay
  %tr
    %td.line_numbers{ :title => "click to toggle", :onclick => "with (this.firstChild.style) { display = (display == '') ? 'none' : '' }" }
      %pre
        %tt
    %td.code
      %pre{ :ondblclick => "with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }" }
        git clone git://saimonmoore.net/cruisecontrolrb.git
%p
  You’ll notice the whole cruisecontrol-1.2.1 app is bundled in that repo. If you want to use the plugin for an existing cruisecontrol setup then just grab the plugin from vendor/plugins and apply this
  %a{ :href => "http://jira.public.thoughtworks.org/browse/CCRB-167" }
    patch
  (this may make itself into the next ccrb release so check)
%p
  To add a git-based project:
%table.CodeRay
  %tr
    %td.line_numbers{ :title => "click to toggle", :onclick => "with (this.firstChild.style) { display = (display == '') ? 'none' : '' }" }
      %pre
        %tt
    %td.code
      %pre{ :ondblclick => "with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }" }
        \./cruise add cruisecontrolrb --scm git --url git://saimonmoore.net/cruisecontrolrb.git
%p
  then just start the server:
%table.CodeRay
  %tr
    %td.line_numbers{ :title => "click to toggle", :onclick => "with (this.firstChild.style) { display = (display == '') ? 'none' : '' }" }
      %pre
        %tt
    %td.code
      %pre{ :ondblclick => "with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }" }
        \./cruise start
