--- 
tumblog_type: regular
title: Adding 'tags' feature to bligi
author: Saimon Moore
filter: erb
created_at: 2005-08-31 10:37:00 +02:00
layout: tumblog/post
---
<p>This morning I got up and started to add tags to my Entry object in Bligi using the &#8216;acts_as_taggable&#8217; mixin from the <a href=http://www.sporkmonger.com/projects/tagtools/>TagTools</a> project.</p>       <p>Though the rdoc is not up to date the tests available allowed me to get things setup relatively easily.</p>       <p>Only snag was avoiding duplicate tags, which I thought would be handled by the mixin. I&#8217;ll just add a validates clause to the Tag object and that should do the trick.</p>       <p>Thanks <a href=http://www.sporkmonger.com/>Bob</a> !</p><p></p>
