--- 
tumblog_type: regular
title: Adding 'tags' feature to bligi
author: Saimon Moore
filter: haml
created_at: 2005-08-31 10:37:00 +02:00
layout: tumblog/post
---
%p
  This morning I got up and started to add tags to my Entry object in Bligi using the ‘acts_as_taggable’ mixin from the
  %a{ :href => "http://www.sporkmonger.com/projects/tagtools/" }
    TagTools
  project.
%p
  Though the rdoc is not up to date the tests available allowed me to get things setup relatively easily.
%p
  Only snag was avoiding duplicate tags, which I thought would be handled by the mixin. I’ll just add a validates clause to the Tag object and that should do the trick.
%p
  Thanks
  %a{ :href => "http://www.sporkmonger.com/" }
    Bob
  \!
%p
