--- 
tumblog_type: regular
title: Back from camping in 'Aigues Tortes'
author: Saimon Moore
filter: erb
created_at: 2005-08-17 04:23:00 +02:00
layout: tumblog/post
---
<p>Long weekend&#8230;(15 August&#8230;I think it&#8217;s a virgin or something like that)...so my girlfriend suggested we go climbing in the pyrenees.</p>  <p>What a great idea!..</p>  <p> So we&#8217;ll be camping at the <a href=http://mediambient.gencat.net/cat/el_medi/parcs_de_catalunya/aiguestortes/>Parc Nacional de Aigues Tortes y St.Maurici</a> in Alta Ribargorca.</p>  <p>Will report back.. ;)</p><p></p>
