--- 
tumblog_type: regular
title: Climbing around 'Cavallers'
author: Saimon Moore
filter: erb
created_at: 2005-08-17 06:18:00 +02:00
layout: tumblog/post
---
<p>Weekend in the pyrenees. Nice opportunity to go climbing.</p> <p> I borrowed a copy of <a href=http://www.onaclimb.com/guies/index.htm>&#8216;Roca Caliente (Hot Rock) en los Pirineos&#8217;</a> by <a href=http://www.onaclimb.com/luichy/index.htm>Luis Alfonso</a>. Decided that the best place would be around the <a href=http://www.tinet.org/%7Eearguis/Catalunya/FotosCatalunya/Aiguestortes/bigimages/31%20Embalse%20Cavallers.jpg>&#8216;Cavallers&#8217; dam</a> (15 minutes drive from Caldes de Boi in the &#8216;Parc Nacional de Aigues Tortes i St.Maurici&#8217;).</p>  <p> I basically chose something quite easy as Maria hasn&#8217;t climbed a lot. We went to the <strong>&#8216;Kanalla&#8217;</strong> sector which is basically mostly IV and a couple of V/V+.</p>  <p> I setup a IV route for her, which she climbed quite well, but which shook her a bit. It&#8217;s very easy but it&#8217;s basically all adhesion.</p>  <p> She didn&#8217;t want to climb after that, but was quite happy to belay me. I only did a few routes myself (A couple at IV and 1 at IV+), but they were a joy to climb.</p>  <p> And the setting was just fantastic. (I have photos which I&#8217;ll be posting just as soon as I can get the photo app part of bligi up).</p>  <p> I&#8217;m definitely going to go back and try something a bit more testing&#8230;</p><p></p>
