--- 
tumblog_type: regular
title: Just registered for MST121
author: Saimon Moore
filter: erb
created_at: 2005-08-30 21:34:00 +02:00
layout: tumblog/post
---
<p>That&#8217;s &#8216;Using Mathematics&#8217;...</p>       <p>I&#8217;m a student again. ;)</p>       <p>I&#8217;m planning on blogging all through my degree so let&#8217;s hope it teaches me to be rigorous enough to do so&#8230;</p><p></p>
