--- 
tumblog_type: regular
title: Running switchtower
author: Saimon Moore
filter: erb
created_at: 2005-08-17 05:51:00 +02:00
layout: tumblog/post
---
<p> I&#8217;m now running <a href=http://manuals.rubyonrails.com/read/book/17>switchtower.</a> </p> <p> Easy peasy to setup. I basically followed instructions in the manual.</p>  <ol> <li>svn co http://dev.rubyonrails.org/svn/rails/trunk/switchtower/</li>  <li>rake gem</li>  <li>Created a basic recipe (deploy.rb) from the example and stuck it in $RAILS_APP_ROOT/config/deploy.rb</li>  <li> type:   <code>switchtower -r config/deploy.rb -a deploy</code></li>  <li>Watch how your app get&#8217;s deployed  with no other action on your part.</li>  <p>Well worth the five minutes effort to get the recipe file written up.</p>  <p> Couldn&#8217;t find the s&#8217;pinner/spawner/reaper&#8217; scripts but I haven&#8217;t looked in the rails svn trunk yet.</p>  <p> Example: </p>  <p> I fixed the &#8216;Weaning Problem&#8217; I was having with bligi on my laptop this morning.</p>   <p> When I had it working, all I had to do was type the above command, and a minute later I could post live with bligi.</p>  <p>That&#8217;s the way I like things to go&#8230;Smoothly. ;)</p>  <p><span class="caps">TODO</span>: As I&#8217;ve only got the basic package at textdrive (i.e. 300Megs), I&#8217;m going to have to limit the number of app versions to three (Current version and the last two). An &#8216;after_deploy&#8217; task should do the trick. ;)</p><p></p>
