--- 
tumblog_type: regular
title: Studying again...
author: Saimon Moore
filter: haml
created_at: 2005-08-19 05:59:00 +02:00
layout: tumblog/post
---
%p
  I’m about to start an
  %a{ :href => "http://www.open.ac.uk/" }
    Open University
  IT course. Most probably, it’ll be something like Computing with Mathematics, though, I’d like to chop and change the courses a bit.
%p
  I’ll probably start the combined
  %i
    Using Mathematics/Exploring Mathematics
  course in Febuary, so that should keep me busy for next year and get me up to speed for doing Level 2/Level 3 course the year after.
%p
  So it looks like I’m going to be very busy for the next few years as each 60 point course requires a minimum of 16hrs/week dedicated study time.
%p
  That combined with my open source work, ,my extra-curricular learning and then trying to fit in freelance work, means I’m going to have my work cut out for me.
%p
  This is probably going to be quite a strain on the relationship but as Maria is also about to start a distance learning course, we should really auto-regulate each other to be stict and dedicated.
%p
  All this means, I’m going to need to make a drastic change in my lifestyle and character:
%h5
  %span.caps
    ORGANIZATION
  \&amp;
  %span.caps
    ROUTINE
%p
  Not really in my list of preferred vocabulary but it’ll be worth the sacrifice.
%p
  I’m going to register tomorrow, and start preparing for the course. Thankfully I’ve recently gone through a revision of basic algebra, trig and geometry so I shouldn’t find the maths very challenging (At least not until ‘Exploring Mathematics’, Level 2).
%p
  I’ve always enjoyed maths and was quite good at it back at school.
%p
  I’m looking to gain a maths basis for getting to grips with discrete maths and algorithms which is where my lack of previous study is showing most.
%p
  So busy, busy, busy….
%p
  Just have to get organized, that’s all ;)
Any tips?
%p
