--- 
tumblog_type: regular
entry_id: 114
title: My google mail/reader features  for the new year
author: Saimon Moore
filter: erb
created_at: 2005-12-31 11:39:00 +01:00
layout: tumblog/post
---
<p><strong>Gmail</strong></p>       <ul>     <li>Option to apply multiple labels to a selection of emails</li>         <li>Modify &#8216;Apply Label&#8217; action to allow application of multiple labels at once (Also for filter action)</li>         <li>Add an &#8216;Apply Label and Archive&#8217; button.</li>          <li>Add an out-of-office reply filter action. So I can send out a dedicated email response per contact when I&#8217;m unavailable.</li>     </ul>       <p><strong>Google Reader</strong></p>       <ul>     <li>Make the &#8216;blogThis&#8217; option a user-definable url</li>          <li>If I&#8217;m not viewing a post how do I view posts by labels?</li>     </ul><p></p>
