--- 
tumblog_type: regular
entry_id: 102
title: Rails Milestone 1.0 Released
author: Saimon Moore
filter: erb
created_at: 2005-12-14 05:22:00 +01:00
layout: tumblog/post
---
<p>The rails core team has just released version 1.0.</p>       <p>That means no more excuses for But there&#8217;s no production-stable release.</p>       <p>There&#8217;s also a spiffing new website that looks really great.</p>      <p>On your marks&#8230;.Get set&#8230;Go&#8230;</p>   <pre><code>gem install rails -y</code></pre>      <p>Aaaahhh</p>       <p>;)</p><p></p>
