--- 
tumblog_type: regular
entry_id: 72
title: Added previewing to bligi in under 1/2 hr
author: Saimon Moore
filter: erb
created_at: 2005-09-01 12:10:00 +02:00
layout: tumblog/post
---
<p>This morning I got up and added an ajaxed preview feature to both posting and commenting.</p>       <p>That&#8217;s just great&#8230;</p>       <p>I&#8217;m sure it should have taken me only about 5 minutes but it was a bit too early and I was away from rails coding for the holidays so I&#8217;m a bit rusty.</p>      <p>But I&#8217;m very impressed.</p>       <p>Still not exactly how I&#8217;d like it for commenting but I&#8217;ll think of something&#8230; ;)</p><p></p>
