---
filter: haml
layout: tumblog/default
---
.post
  = tumblog_date(@page.created_at)
  %a.comments{ :href => @page.url + '#disqus_thread' }
    Comments
  %a{ :href => @page.url }
    %img.permalink{ :src => "/images/tumblog/permalink.gif", :alt => "permalink" }
  %div{ :class => @page.tumblog_type }
    %h2
      = link_to_page(@page)
    = @content
    -# #disqus_thread
    -#   %script{:type=>"text/javascript", :src=>"http://disqus.com/forums/saimonmoorenet/embed.js"}
    -#   %noscript
    -#     %a{:href=>"http://saimonmoorenet.disqus.com/?url=ref"}
    -#       View the discussion thread.