--- 
tumblog_type: regular
title: jEdit Liquid mode and abbrevs
author: Saimon Moore
filter: erb
created_at: 2006-12-11 16:46:00 +01:00
layout: tumblog/post
---
<p>My current project is based on <a href="http://mephistoblog.com">Mephisto</a>. Consequently I&#8217;m editing <a href="http://home.leetsoft.com/liquid">liquid</a> templates a lot.</p>


	<p>I quickly got bored of editing them using plain text mode so I very quickly wrote up a liquid mode for <a href="http://www.jedit.org">jEdit</a>.</p>


	<p>You can find it <a href="/assets/2006/12/7/liquid.xml">here</a></p>


	<h4>Usage</h4>


	<p>Add the following to $home/.jedit/modes/catalog :</p>


<code>
&lt;MODE NAME="liquid" FILE="liquid.xml" FILE_NAME_GLOB="*.liquid" /&gt;
</code>

	<p>While I was at it I added a few <a href="http://saimonmoore.net/assets/2006/12/7/liquid">abbreviations</a> for the liquid mode. Just add that file to $home/.jedit/SuperAbbrevs and restart jedit.</p>
