--- 
tumblog_type: regular
title: Liquid, drops and includes
author: Saimon Moore
filter: erb
created_at: 2006-12-13 16:10:00 +01:00
layout: tumblog/post
---
<p>I just spent an hour trying to figure out why an assigned liquid drop I was using was not being rendered within the liquid template.</p>


	<p>The strange reason being that I had an include with the same name as the drop&#8217;s assigned key.</p>


	<p>e.g.</p>


Before&#8230;
<pre><code>
{% include 'flash' %}

In _flash.liquid

 {{flash.notice}} &lt;--- Doesn't render anything

</code></pre>

After&#8230;
<pre><code>
{% include 'messages' %}

In _messages.liquid

 {{flash.notice}} &lt;--- Renders correctly

</code></pre>
