--- 
tumblog_type: regular
title: Update your feed
author: Saimon Moore
filter: erb
created_at: 2006-12-11 12:02:00 +01:00
layout: tumblog/post
---
<p>I&#8217;ve now switched to using <a href="http://feeds.feedburner.com/saimonmoore">feedburner</a> (http://feeds.feedburner.com/saimonmoore) for my feeds.</p>
