--- 
tumblog_type: regular
title: Update your feed
author: Saimon Moore
filter: haml
created_at: 2006-12-11 12:02:00 +01:00
layout: tumblog/post
---
%p
  I’ve now switched to using
  %a{ :href => "http://feeds.feedburner.com/saimonmoore" }
    feedburner
  (http://feeds.feedburner.com/saimonmoore) for my feeds.
