--- 
tumblog_type: regular
entry_id: 1921
title: more validations
author: Saimon Moore
filter: erb
created_at: 2007-10-23 09:14:00 +02:00
layout: tumblog/post
---
<p>I wrote up a validates_condition_between validations class method the other day. It  basically validates that the values of two attributes matches the condition supplied. Only one condition can be used at a time. I searched around for something like this but couldn&#8217;t find anything so I wrote it.</p>


	<p>Usage:</p>


<table class="CodeRay"><tr>
  <td class="line_numbers" title="click to toggle" onclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1<tt>
</tt>2<tt>
</tt>3<tt>
</tt>4<tt>
</tt><strong>5</strong><tt>
</tt>6<tt>
</tt>7<tt>
</tt></pre></td>
  <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }"><tt>
</tt><tt>
</tt>   <span class="r">class</span> <span class="cl">Person</span> &lt; <span class="co">ActiveRecord</span>::<span class="co">Base</span><tt>
</tt>     validates_condition_between <span class="sy">:start_time</span>, <span class="sy">:end_time</span>, <span class="sy">:condition</span>=&gt;<span class="sy">:greater_than</span><tt>
</tt>     validates_condition_between <span class="sy">:credit</span>, <span class="sy">:max_credit</span>, <span class="sy">:condition</span>=&gt;<span class="sy">:less_than_or_equal_to</span>, <span class="sy">:allow_blank</span> =&gt; <span class="pc">true</span><tt>
</tt>     validates_condition_between <span class="sy">:key</span>, <span class="sy">:keys</span>, <span class="sy">:condition</span>=&gt;<span class="sy">:inclusion</span>, <span class="sy">:allow_nil</span> =&gt; <span class="pc">true</span><tt>
</tt>   <span class="r">end</span>  <tt>
</tt></pre></td>
</tr></table>


	<p>I&#8217;ve stuck it in the following plugin (just the one validation for now):</p>


<table class="CodeRay"><tr>
  <td class="line_numbers" title="click to toggle" onclick="with (this.firstChild.style) { display = (display == '') ? 'none' : '' }"><pre>1<tt>
</tt>2<tt>
</tt></pre></td>
  <td class="code"><pre ondblclick="with (this.style) { overflow = (overflow == 'auto' || overflow == '') ? 'visible' : 'auto' }"><tt>
</tt>script/plugin install svn://rubyforge.org/var/svn/sidirodromos/plugins/more_validations<tt>
</tt></pre></td>
</tr></table>
