---
title:      <%= title %>
created_at: <%= Time.now.to_y %>
author:     Saimon Moore
filter:
  - haml
layout:       tumblog/post
tumblog_type: link
---
%a{:href => "http://www.madcitychickens.com/"}
  Raising chickens in Madison, WI
