---
title:      <%= title %>
created_at: <%= Time.now.to_y %>
author:     Saimon Moore
filter:
  - haml
layout:       tumblog/post
tumblog_type: quote
---
%p
  %big
    “
  You can’t hatch chickens from fried eggs.
  %span.source
    Dutch Proverb
